@import 'variables';

.project-association-list {
    list-style: none;
    padding: 0.3rem;

    &>li {
        border: 1px solid $gray-300;
        border-radius: $border-radius;
        padding: 0.3rem;
        margin-bottom: 0.3rem;
    }
}

.association-details {
    .mat-icon {
        height: 15px;
        width: 15px;
    }

    .material-icons {
        font-size: 15px;
        line-height: inherit;
    }
}