<div class="mat-dialog-header mcv-dialog-header">
    <h5 class="font-focused">{{dialogTitle}} | {{nextCode}}</h5>
    <div class="d-flex align-items-center">
        <button mat-raised-button (click)="onSubmit()">Save</button>
        <button mat-icon-button aria-label="close" (click)="onClose(null)">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content>
    <div class="row p-2">
        <div class="col-md-6">
            <div class="row left-column">
                <div class="category-title-subtitle-wrapper col-12 row" [formGroup]="form">
                    <mat-form-field appearance="outline" class="col-md-6 col-12">
                        <mat-label>Asset Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option *ngFor="let item of categoryOptions" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{ getErrorMessage(f.category)}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6 col-12">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="statusFlag">
                            <mat-option *ngFor="let item of statusOptions" [value]="item.value">
                                {{item.title}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{ getErrorMessage(f.statusFlag)}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6 col-12">
                        <mat-label>Title</mat-label>
                        <input placeholder="Title" aria-label="Title" matInput formControlName="title">
                        <mat-error>{{getErrorMessage(f.title)}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6 col-12">
                        <mat-label>Subtitle</mat-label>
                        <input placeholder="Subtitle" aria-label="Subtitle" matInput formControlName="subtitle">
                        <mat-error>{{getErrorMessage(f.subtitle)}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6 col-12">
                        <mat-label>Quantity</mat-label>
                        <input type="number" min="0" placeholder="quantity" aria-label="quantity" matInput
                            formControlName="quantity">
                        <mat-error>{{getErrorMessage(f.quantity)}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6 col-12">
                        <mat-label>Cost</mat-label>
                        <input class="text-right" type="number" min="0" placeholder="Cost" aria-label="Cost" matInput
                            formControlName="cost">
                        <span matSuffix class="pl-1">&#8377;&nbsp;</span>
                        <mat-error>{{getErrorMessage(f.cost)}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6 col-12">
                        <mat-label>Purchase Date</mat-label>
                        <input placeholder="Purchase Date" aria-label="Purchase Date" matInput
                            formControlName="purchaseDate" [matDatepicker]="purchaseDatePicker" />
                        <mat-datepicker-toggle matSuffix [for]="purchaseDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker [touchUi]="isMobileView" #purchaseDatePicker></mat-datepicker>
                        <mat-error>{{getErrorMessage(f.purchaseDate)}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6 col-12">
                        <mat-label>Warranty Date</mat-label>
                        <input placeholder="Warranty Date" aria-label="Warranty Date" matInput
                            formControlName="warrantyDate" [matDatepicker]="warrantyDatePicker" />
                        <mat-datepicker-toggle matSuffix [for]="warrantyDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker [touchUi]="isMobileView" #warrantyDatePicker></mat-datepicker>
                        <mat-error>{{getErrorMessage(f.warrantyDate)}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6 col-12">
                        <mat-label>Validity Date</mat-label>
                        <input placeholder="Validity Date" aria-label="Validity Date" matInput
                            formControlName="validityDate" [matDatepicker]="validityDatePicker" />
                        <mat-datepicker-toggle matSuffix [for]="validityDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker [touchUi]="isMobileView" #validityDatePicker></mat-datepicker>
                        <mat-error>{{getErrorMessage(f.validityDate)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="description-wrapper col-md-12" [formGroup]=" form" autocomplete="off">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea placeholder="Enter Description here" aria-label="Description" matInput
                            formControlName="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="3"></textarea>
                        <mat-error>{{ getErrorMessage(f.description)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-12  attachment-wrapper">
                    <div class="asset-attachment-wrapper">
                        <h6>Images</h6>
                        <app-mcv-file-upload [uploaderConfig]="blobConfig" [showDrop]="false" [showPaste]="true"
                            (upload)="onUpload($event,0)" *ngIf="blobConfig">
                        </app-mcv-file-upload>
                        <ul class="asset-file-list">
                            <li *ngFor="let item of imagesAttachments">
                                <app-asset-file [size]="item.size" [filename]="item.filename" [showRemove]="true"
                                    [url]="item.thumbUrl || item.url" [files]="currentEntity.attachments"
                                    [tags]="item.searchTags" [contentType]="item.contentType" [showPreview]="true"
                                    [showRemove]="true" [downloadUrl]="item.url" [singlePreview]="true"
                                    [showEditor]="true" [isVerticalThumb]="true"
                                    (delete)="onDeleteAttachment(item)"></app-asset-file>
                            </li>
                        </ul>
                    </div>
                    <div class="asset-attachment-wrapper">
                        <h6>Attachments</h6>
                        <app-mcv-file-upload [uploaderConfig]="blobConfig" [showDrop]="false" [showPaste]="true"
                            (upload)="onUpload($event,1)" *ngIf="blobConfig">
                        </app-mcv-file-upload>
                        <ul class="asset-file-list">
                            <li *ngFor="let item of otherAttachments">
                                <mcv-file [filename]="item.filename" [size]="item.size" [showRemove]="true"
                                    [allowTagging]="false" [downloadUrl]="item.url" [showPreview]="false"
                                    [singlePreview]="false" [url]="item.url" [showEditor]="false"
                                    (delete)="onDeleteAttachment(item)">
                                </mcv-file>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="vendor-wrapper col-md-12 row" [ngClass]="{'ml-1':!isMobileView}" [formGroup]=" form"
                    autocomplete="off">
                    <h6 class="col-12">Vendors</h6>
                    <div class="col-md-6 col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Purchased From</mat-label>
                            <input placeholder="Enter name of contact to select from the list"
                                aria-label="Select Contact" matInput formControlName="vendor"
                                [matAutocomplete]="autoContact2" />
                            <mat-autocomplete #autoContact2="matAutocomplete" [displayWith]="displayFnContact"
                                (optionSelected)="onVendorSelect($event,'Purchased From')">
                                <mat-option *ngFor="let option of filteredVendorOptions$ | async" [value]="option">
                                    {{ option.fullName }}
                                </mat-option>
                            </mat-autocomplete>
                            <span matSuffix>
                                <mat-icon>person</mat-icon>
                            </span>
                            <mat-error>{{ getErrorMessage(f.vendor) }}</mat-error>
                        </mat-form-field>
                        <ul class="simple-list-hover">
                            <li *ngFor="let vendor of purchasedVendorlist">
                                <div class="d-flex justify-content-between">
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div class="d-flex">
                                            <div class="flex-grow-0 flex-shrink-0">
                                                <img src="{{vendor.photoUrl || 'assets/images/person-icon.svg' }}"
                                                    class="user-thumbnail float-left mr-2" alt="" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-0 font-focused">{{ vendor.fullName }}</h6>

                                                <span class="badge mr-1" [ngClass]="{
                                                  'badge-secondary': vendor.typeFlag == 1,
                                                  'badge-primary': vendor.typeFlag == 2,
                                                  'badge-danger': vendor.typeFlag == 3
                                                }" *ngIf="vendor.typeFlag!=0">{{ vendor.typeValue
                                                    }}</span>


                                                <div class="category-tag-wrapper">
                                                    <span class="badge badge-warning mr-1 h-100"
                                                        *ngFor="let cat of vendor.categories">
                                                        {{cat}}
                                                    </span>

                                                    <span>
                                                        <ul class="search-tags">
                                                            <li *ngFor="let searchTags of vendor.searchTags"
                                                                class="search-tags-tag">
                                                                {{searchTags}}
                                                            </li>
                                                        </ul>
                                                    </span>
                                                </div>

                                                <small *ngIf="vendor.phone1">
                                                    {{vendor.phone1}}
                                                </small>

                                                <small *ngIf="vendor.email1">{{vendor.email1}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-item-center flex-grow-0 flex-shrink-0">
                                        <button mat-icon-button (click)="onDeletePurchasedVendor(vendor)" matTooltip="Remove"
                                            aria-label="Remove">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Maintenance By</mat-label>
                            <input placeholder="Enter name of contact to select from the list"
                                aria-label="Select Contact" matInput formControlName="vendor"
                                [matAutocomplete]="autoContact1" />
                            <mat-autocomplete #autoContact1="matAutocomplete" [displayWith]="displayFnContact"
                                (optionSelected)="onVendorSelect($event,'Maintenance By')">
                                <mat-option *ngFor="let option of filteredVendorOptions$ | async" [value]="option">
                                    {{ option.fullName }}
                                </mat-option>
                            </mat-autocomplete>
                            <span matSuffix>
                                <mat-icon>person</mat-icon>
                            </span>
                            <mat-error>{{ getErrorMessage(f.vendor) }}</mat-error>
                        </mat-form-field>
                        <ul class="simple-list-hover">
                            <li *ngFor="let vendor of maintenanceVendorlist">
                                <div class="d-flex justify-content-between">
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div class="d-flex">
                                            <div class="flex-grow-0 flex-shrink-0">
                                                <img src="{{vendor.photoUrl || 'assets/images/person-icon.svg' }}"
                                                    class="user-thumbnail float-left mr-2" alt="" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-0 font-focused">{{ vendor.fullName }}</h6>

                                                <span class="badge mr-1" [ngClass]="{
                                                  'badge-secondary': vendor.typeFlag == 1,
                                                  'badge-primary': vendor.typeFlag == 2,
                                                  'badge-danger': vendor.typeFlag == 3
                                                }" *ngIf="vendor.typeFlag!=0">{{ vendor.typeValue
                                                    }}</span>


                                                <div class="category-tag-wrapper">
                                                    <span class="badge badge-warning mr-1 h-100"
                                                        *ngFor="let cat of vendor.categories">
                                                        {{cat}}
                                                    </span>

                                                    <span>
                                                        <ul class="search-tags">
                                                            <li *ngFor="let searchTags of vendor.searchTags"
                                                                class="search-tags-tag">
                                                                {{searchTags}}
                                                            </li>
                                                        </ul>
                                                    </span>
                                                </div>

                                                <small *ngIf="vendor.phone1">
                                                    {{vendor.phone1}}
                                                </small>

                                                <small *ngIf="vendor.email1">{{vendor.email1}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-item-center flex-grow-0 flex-shrink-0">
                                        <button mat-icon-button (click)="onDeleteMaintenanceVendor(vendor)" matTooltip="Remove"
                                            aria-label="Remove">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="vendor-wrapper col-md-12 row" [ngClass]="{'ml-1':!isMobileView}" [formGroup]=" form"
                    autocomplete="off">
                    <h6 class="col-12">User</h6>
                    <div class="col-md-6 col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>User</mat-label>
                            <input placeholder="Enter name of contact to select from the list"
                                aria-label="Select Contact" matInput formControlName="vendor"
                                [matAutocomplete]="autoContact3" />
                            <mat-autocomplete #autoContact3="matAutocomplete" [displayWith]="displayFnContact"
                                (optionSelected)="onVendorSelect($event,'User')">
                                <mat-option *ngFor="let option of filteredVendorOptions$ | async" [value]="option">
                                    {{ option.fullName }}
                                </mat-option>
                            </mat-autocomplete>
                            <span matSuffix>
                                <mat-icon>person</mat-icon>
                            </span>
                            <mat-error>{{ getErrorMessage(f.vendor) }}</mat-error>
                        </mat-form-field>
                        <ul class="simple-list-hover">
                            <li *ngFor="let vendor of userVendorlist">
                                <div class="d-flex justify-content-between">
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div class="d-flex">
                                            <div class="flex-grow-0 flex-shrink-0">
                                                <img src="{{vendor.photoUrl || 'assets/images/person-icon.svg' }}"
                                                    class="user-thumbnail float-left mr-2" alt="" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-0 font-focused">{{ vendor.fullName }}</h6>

                                                <span class="badge mr-1" [ngClass]="{
                                                  'badge-secondary': vendor.typeFlag == 1,
                                                  'badge-primary': vendor.typeFlag == 2,
                                                  'badge-danger': vendor.typeFlag == 3
                                                }" *ngIf="vendor.typeFlag!=0">{{ vendor.typeValue
                                                    }}</span>


                                                <div class="category-tag-wrapper">
                                                    <span class="badge badge-warning mr-1 h-100"
                                                        *ngFor="let cat of vendor.categories">
                                                        {{cat}}
                                                    </span>

                                                    <span>
                                                        <ul class="search-tags">
                                                            <li *ngFor="let searchTags of vendor.searchTags"
                                                                class="search-tags-tag">
                                                                {{searchTags}}
                                                            </li>
                                                        </ul>
                                                    </span>
                                                </div>

                                                <small *ngIf="vendor.mobile1">
                                                    {{vendor.mobile1}}
                                                </small>

                                                <small *ngIf="vendor.email1">{{vendor.email1}}
                                                </small>
                                                <small *ngIf="vendor.email2">{{vendor.email2}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-item-center flex-grow-0 flex-shrink-0">
                                        <button mat-icon-button (click)="onDeleteUserVendor(vendor)" matTooltip="Remove"
                                            aria-label="Remove">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" style="gap:0.2rem">
                <div class="specification-wrapper col-md-12 col-12" [formGroup]="form" autocomplete="off">
                    <h6>Attributes</h6>
                    <table>
                        <thead>
                            <th>Attribute Key</th>
                            <!-- <th>InputType</th> -->
                            <th>Attribute Value</th>
                            <!-- <th>Is Required</th> -->
                            <th></th>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of attributes;let i = index">
                                <tr>
                                    <td>
                                        <div class="cell-content">
                                            <mat-icon
                                                *ngIf="getFormControl(attributeFA,i,'attributeKey').value && getFormControl(attributeFA,i,'attributeKey').invalid"
                                                [matTooltip]="getErrorMessage(getFormControl(attributeFA,i,'attributeKey'))">
                                                report_problem
                                            </mat-icon>

                                            <div class="cell-input">
                                                <form>
                                                    <input matInput (input)="onInput(attributeFA,i,'attributeKey')"
                                                        [formControl]="getFormControl(attributeFA,i,'attributeKey')"
                                                        (change)="onCellChange(attributeFA,i,'attributeKey',item)">
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cell-content">
                                            <div class="cell-input">
                                                <form>
                                                    <input *ngIf="item.inputType == 'SINGLE-LINE'" matInput
                                                        [formControl]="getFormControl(attributeFA,i,'attributeValue')"
                                                        (change)="onCellChange(attributeFA,i,'attributeValue',item)" />

                                                    <input *ngIf="item.inputType == 'NUMBER'" matInput type="number" min="0"
                                                        [formControl]="getFormControl(attributeFA,i,'attributeValue')"
                                                        (change)="onCellChange(attributeFA,i,'attributeValue',item)" />

                                                    <input *ngIf="item.inputType == 'CURRENCY'" matInput
                                                        [formControl]="getFormControl(attributeFA,i,'attributeValue')"
                                                        (change)="onCellChange(attributeFA,i,'attributeValue',item)" />
                                                    <span *ngIf="item.inputType == 'CURRENCY'" matSuffix
                                                        class="pl-1">&#8377;&nbsp;</span>

                                                    <textarea *ngIf="item.inputType == 'MULTI-LINE'" matInput
                                                        [formControl]="getFormControl(attributeFA,i,'attributeValue')"
                                                        (change)="onCellChange(attributeFA,i,'attributeValue',item)"
                                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>

                                                    <mat-form-field appearance="outline" *ngIf="item.inputType == 'DATE'">
                                                        <input matInput
                                                            [formControl]="getFormControl(attributeFA,i,'attributeValue')"
                                                            (change)="onCellChange(attributeFA,i,'attributeValue',item)"
                                                            [matDatepicker]="validityDatePicker"
                                                            placeholder="Select Date" />
                                                        <mat-datepicker-toggle matSuffix
                                                            [for]="validityDatePicker"></mat-datepicker-toggle>
                                                        <mat-datepicker [touchUi]="isMobileView"
                                                            #validityDatePicker></mat-datepicker>
                                                    </mat-form-field>

                                                    <mat-form-field appearance="outline" *ngIf="item.inputType == 'SINGLE-CHOICE'">
                                                        <mat-select
                                                            [formControl]="getFormControl(attributeFA,i,'attributeValue')"
                                                            (selectionChange)="onCellChange(attributeFA,i,'attributeValue',item)">
                                                            <mat-option *ngFor="let opt of multiChoiceOptions(item)"
                                                                [value]="opt">
                                                                {{opt}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                    <mat-form-field appearance="outline" *ngIf="item.inputType == 'MULTI-CHOICE'">
                                                        <mat-select multiple
                                                            [formControl]="getFormControl(attributeFA,i,'attributeValue')"
                                                            (selectionChange)="onCellChange(attributeFA,i,'attributeValue',item)">
                                                            <mat-option *ngFor="let options of multiChoiceOptions(item)"
                                                                [value]="options">
                                                                {{options}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td>
                                    <div class="cell-content">
                                        <mat-icon
                                            *ngIf="getFormControl(attributeFA,attributes.length,'attributeKey').value && getFormControl(attributeFA,attributes.length,'attributeKey').invalid"
                                            [matTooltip]="getErrorMessage(getFormControl(attributeFA,attributes.length,'attributeKey'))">
                                            report_problem
                                        </mat-icon>

                                        <div class="cell-input text-left">
                                            <form>
                                                <input matInput [disabled]="true"
                                                    (input)="onInput(attributeFA,attributes.length,'attributeKey')"
                                                    placeholder="Enter Attribute key"
                                                    [formControl]="getFormControl(attributeFA,attributes.length,'attributeKey')"
                                                    (change)="onCellChange(attributeFA,attributes.length,'attributeKey')">
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="cell-content">
                                        <mat-icon
                                            *ngIf="getFormControl(attributeFA,attributes.length,'attributeValue').value && getFormControl(attributeFA,attributes.length,'attributeValue').invalid"
                                            [matTooltip]="getErrorMessage(getFormControl(attributeFA,attributes.length,'attributeValue'))">
                                            report_problem
                                        </mat-icon>

                                        <div class="cell-input text-left">
                                            <form>
                                                <input matInput
                                                    [formControl]="getFormControl(attributeFA,attributes.length,'attributeValue')"
                                                    (change)="onCellChange(attributeFA,attributes.length,'attributeValue')" />
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="cell-content justify-content-center">
                                        <div class="cell-action">
                                            <mat-icon (click)="onAddAttribute()">add</mat-icon>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</mat-dialog-content>