/* ---------------------------------------------------
    Checkbox
----------------------------------------------------- */

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: mat-color($mcv-primary, 500) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-label {
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  white-space: break-spaces;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-list-option {
  height: 40px;
}


.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background-color: mat-color($mcv-primary, 500) !important;
}

.mat-mdc-option-text {
  font-size: 12px;
}

.mat-mdc-list-base .mat-mdc-list-item,
.mat-mdc-list-base .mat-mdc-list-option {
  height: 40px !important;
  border-bottom: 1px solid $gray-200;
}

// .mat-list-text {
//   font-size: $font-size-base;
//   flex-direction: row !important;

// }

// .mat-list-option {
//   height: auto !important;
// }

/*==========================*/