.mcv-text-1{
    font-size: $mcv-text-size-1;
    font-weight: $mcv-text-weight-1;
}

.mcv-text-2{
    font-size: $mcv-text-size-2;
    font-weight: $mcv-text-weight-2;
}

.mcv-text-3{
    font-size: $mcv-text-size-3;
    font-weight: $mcv-text-weight-3;
}

.mcv-text-4{
    font-size: $mcv-text-size-4;  
}

.mcv-text-5{
    font-size: $mcv-text-size-5;
}

.mcv-text-6{
    font-size: $mcv-text-size-6;  
}

.mcv-text-7{
    font-size: $mcv-text-size-7;      
}

.mcv-text-slim-1{
    font-size: $mcv-text-size-1;
    font-weight: $mcv-text-weight-1;
}

.mcv-text-slim-2{
    font-size: $mcv-text-size-1;
    font-weight: $mcv-text-weight-1;
}

.mcv-text-slim-3{
    font-size: $mcv-text-size-1;
    font-weight: $mcv-text-weight-1;
}

.mcv-text-normal-1{
    font-size: $mcv-text-size-1;
    font-weight: $mcv-text-weight-2;
}

.mcv-text-normal-2{
    font-size: $mcv-text-size-2;
    font-weight: $mcv-text-weight-2;
}

.mcv-text-normal-3{
    font-size: $mcv-text-size-3;
    font-weight: $mcv-text-weight-2;
}

.mcv-text-bold-1{
    font-size: $mcv-text-size-1;
    font-weight: $mcv-text-weight-3;
}

.mcv-text-bold-2{
    font-size: $mcv-text-size-2;
    font-weight: $mcv-text-weight-3;
}

.mcv-text-bold-3{
    font-size: $mcv-text-size-3;
    font-weight: $mcv-text-weight-3;
}

.mcv-text-label{
    font-weight: $mcv-text-weight-2;
}