<div class="mat-dialog-header mcv-dialog-header">
  <h5 class="font-focused" *ngIf="bill.typeFlag == PROJECT_BILL_TYPEFLAG_PROFORMA_INVOICE">Payment details | {{bill.proformaInvoiceNo}}</h5>
  <h5 class="font-focused" *ngIf="bill.typeFlag == PROJECT_BILL_TYPEFLAG_TAX_INVOICE">Payment details | {{bill.taxInvoiceNo}}</h5>
  <div class="d-flex align-items-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-icon-button aria-label="close" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <mat-expansion-panel [expanded]="true" [formGroup]="form">
    <mat-expansion-panel-header>
      <mat-panel-title></mat-panel-title>
    </mat-expansion-panel-header>
<div class="bill-payment-form-wrapper">
  <form [formGroup]="form">
    <div class="row m-0">
        <mat-form-field appearance="outline" class="col-sm-6">
          <mat-label>Payment Date</mat-label>
          <input matInput formControlName="transactionDate" [matDatepicker]="transactionDatePicker"
            placeholder="Select Date" />
          <mat-error>{{getErrorMessage(f.transactionDate)}}</mat-error>
          <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
          <mat-datepicker [touchUi]="isMobileView" #transactionDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field  appearance="outline" class="col-sm-6">
          <mat-label>Payment Mode</mat-label>
          <!-- <input placeholder="Mode" aria-label="mode" matInput formControlName="mode" /> -->
           <mat-select formControlName="mode" placeholder="Payment Mode">
            <mat-option *ngFor="let item of modeOptions" [value]="item">{{ item }}</mat-option>
          </mat-select>
          <mat-error>{{getErrorMessage(f.mode)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"  class="col-sm-6">
          <mat-label>Transaction/Reference No.</mat-label>
          <input placeholder="Transaction/Reference No." aria-label="transactionNo" matInput formControlName="transactionNo" />
          <mat-error>{{getErrorMessage(f.transactionNo)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"   class="col-md-6">
          <mat-label>Bank Name & Branch</mat-label>
          <input placeholder="Bank Name & Branch" aria-label="bankDetail" matInput formControlName="bankDetail" />
          <mat-error>{{ getErrorMessage(f.bankDetail) }}</mat-error>
        </mat-form-field>

        </div>
        <div class="row m-0">

        <mat-form-field appearance="outline" class="col-sm-12">
          <mat-label>Received Amount (A)</mat-label>
          <input type="number" placeholder="Received Amount" aria-label="amount" matInput formControlName="amount"
            class="text-right" />
          <span matSuffix class="pl-1">&#8377;&nbsp;</span>
          <mat-hint align="end">Gross amount received from Client</mat-hint>
          <mat-error>{{getErrorMessage(f.amount)}}</mat-error>
        </mat-form-field>

  
        <!-- <mat-form-field appearance="outline">
          <mat-label>TDS Rate</mat-label>
          <input type="number" placeholder="Tds Rate" aria-label="tdsRate" matInput formControlName="tdsRate"
            class="text-right" />
          <mat-error>{{getErrorMessage(f.tdsRate)}}</mat-error>
          <span matSuffix class="pl-1">%</span>
        </mat-form-field> -->

        <mat-form-field appearance="outline"  class="col-sm-12">
          <mat-label>TDS Amount ({{tdsShare}}% of A)(B)</mat-label>
          <input type="number" placeholder="Tds Amount" aria-label="tdsAmount" matInput formControlName="tdsAmount" class="text-right" />
          <span matSuffix class="pl-1">&#8377;&nbsp;</span>
          <mat-error>{{getErrorMessage(f.tdsAmount)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"  class="col-sm-12">
          <mat-label>Net Amount (C)(A-B)</mat-label>
          <input type="number" placeholder="Net Amount" aria-label="Net Amount" matInput formControlName="netAmount"
            class="text-right" />
          <span matSuffix class="pl-1">&#8377;&nbsp;</span>
          <mat-hint align="end">Amount received after deducting TDS</mat-hint>
          <mat-error>{{getErrorMessage(f.netAmount)}}</mat-error>
        </mat-form-field>

      </div>
      <div class="row m-0">

   

    <mat-form-field appearance="outline"   class="col-md-12">
      <mat-label>Comment/Remark</mat-label>
      <textarea placeholder="Comment" aria-label="comment" matInput formControlName="comment" cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"></textarea>
      <mat-error>{{ getErrorMessage(f.comment) }}</mat-error>
    </mat-form-field>
    </div>
  </form>

  <div class="pt-2">
    <app-mcv-file-upload [uploaderConfig]="blobConfig" [showDrop]="true" [showPaste]="true" (upload)="onUpload($event)"
      *ngIf="blobConfig">
    </app-mcv-file-upload>
    <ul class="mcv-file-list">
      <li *ngFor="let file of payment.attachments">
        <mcv-file [filename]="file.filename" [size]="file.size" [showRemove]="true" (delete)="onDeleteAttachment(file)"
          [allowTagging]="false" [downloadUrl]="file.url" [showPreview]="true" [singlePreview]="true" [url]="file.url"
          [showEditor]="true">
        </mcv-file>
      </li>
    </ul>
  </div>

</div>
</mat-expansion-panel>
</mat-dialog-content>