<div class="login-wrapper">
  <div class="login-panel">
    <div class="login-container">
      <div class="login-logo">
        <img src="{{ logoUrl || 'assets/images/logo.png' }}" />
      </div>

      <h2 class="login-title">Change Password</h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input type="password" formControlName="password" matInput required />
          <mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
            {{ getErrorMessage(f.password) }}</mat-error>
          <mat-hint>{{ f.password.value.length }} / 256</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input type="password" formControlName="passwordNew" matInput required />
          <mat-error *ngIf="
            f.passwordNew.invalid &&
            (f.passwordNew.dirty || f.passwordNew.touched)
          ">
            {{ getErrorMessage(f.passwordNew) }}</mat-error>
          <mat-hint>{{ f.passwordNew.value.length }} / 256</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" formControlName="passwordConfirm" matInput required />
          <mat-error *ngIf="
            f.passwordConfirm.invalid &&
            (f.passwordConfirm.dirty || f.passwordConfirm.touched)
          ">
            {{ getErrorMessage(f.passwordConfirm) }}</mat-error>
          <mat-hint>{{ f.passwordConfirm.value.length }} / 256</mat-hint>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" class="mt-2">Update </button>
        <button mat-raised-button class="mt-2" (click)="onCancel()" *ngIf="!isChangePassword()">
          Cancel
        </button>
      </form>
      <h6 class="login-version">{{ version }}</h6>
      <small>Powered by Newarch<sup>&reg;</sup> Infotech LLP</small>
    </div>
  </div>
</div>