<div class="d-flex align-items-center">
  <div class="flex-grow-1">
    <h6 class="mb-0">{{ item.title }}</h6>
    <span>{{item.subtitle}}</span>
    <h5 class="float-left mr-1"> #{{item.code}}</h5>
    <span class="mb-0"> <small>on</small> {{item.created| date:'dd MMM y' }} </span>

    <div>
      <span *ngIf="item.isRepeatRequired"><small>Next Reminder: </small>{{ item.nextReminderDate | date: "dd MMM y"
        }}</span>
      <span class="badge badge-margin badge-danger float-right" *ngIf="item.isDraft">DRAFT</span>
      <span *ngIf="item.statusFlag == 0" class="badge badge-margin badge-primary float-right">{{ item.statusValue }}</span>
      <span *ngIf="item.statusFlag == 1" class="badge badge-margin badge-dark float-right">{{item.statusValue}}</span>
      <span *ngIf="item.statusFlag == 2" class="badge badge-margin badge-gray float-right">{{item.statusValue }}</span>
      <span *ngIf="item.statusFlag == 3" class="badge badge-margin badge-gray float-right">{{item.statusValue }}</span>
    </div>
    <div *ngIf="showAll">
      <span><small>Assigner: </small>{{ item.assignerContact?.name }}</span>
    </div>
  </div>
</div>