@import 'variables';
@import 'theme';

.minutes-wrapper {
  background-color: $gray-200;
  height: 100%;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .minutes-page {
    max-width: calc(100% - 1rem);
    width: 50rem;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background-color: $white;
    margin: 0.5rem 0;

    .minutes-page-header {
      display: flex;
      gap: 0.3rem;
      align-items: center;
      justify-content: space-between;
      padding: 0.3rem;
      // background-color: mat-color($mcv-primary, 500);
      // border-radius: $border-radius;
      margin-bottom: 10px;
      border-bottom: 1px solid $gray-300;

      .minutes-page-header-title {
        flex-grow: 1;
      }

      .minutes-page-header-logo {
        height: 4rem;
        width: 12rem;
        flex-grow: 0;
        flex-shrink: 0;

        & img {
          max-width: 100%;
          max-height: 100%;
          // Makes `<img>` tags behave like `background-size: cover`. Not supported
          // in IE, but we're using it as a progressive enhancement.
          -o-object-fit: contain;
          object-fit: contain;
        }
      }

      .minutes-page-header-title {
        flex-grow: 1;
        font-weight: 700;
      }


    }

    .minutes-page-header-actions {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      gap: 0.3rem;
      align-items: center;
      justify-content: flex-end;
    }

    .minutes-page-content {

      .minutes-intial-details {
        h6 {
          font-size: 0.8rem;
          font-weight: 600;
        }
      }

      .minute-attendee {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      .minutes-agenda-text-standard {
        font-size: 0.65rem;
      }

      .minutes-agenda-text-focused {
        font-size: 0.85rem;
        font-weight: 600;
      }

      .minutes-agenda-comment-focused {
        font-size: 0.85rem;
        font-weight: 600;
        // width: 60%;
      }

      .minutes-agenda-text-history {
        font-size: 0.7rem;
        font-style: italic;
      }

    }

    .minutes-page-footer {
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0.5rem;
      background-color: $gray-200;
      color: $gray-600;
    }
  }

  .minutes-agenda-title-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .minutes-agenda-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &>li {
      box-sizing: border-box;
    }

    .badge-pending {
      background-color: mat-color($mcv-accent, 500);
      color: $white;
    }

    .badge-delayed {
      background-color: mat-color($mcv-warn, 400);
      color: $white;
    }

    .badge-resolved {
      background-color: $green;
      color: $white;
    }

    .history-wrapper {
      .history {

        &.hide-history {
          height: 9rem;
          overflow: hidden;
        }
      }

      .show-more {
        cursor: pointer;
        font-weight: 500;
        font-size: 0.8rem;
        color: mat-color($mcv-primary, 500);
      }
    }


    .minutes-agenda-progress-content {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      cursor: pointer;

      /* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version.*/
      /* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version.*/
      mat-progress-bar {
        height: 0.5rem;
        border-radius: 0.3rem;

        /* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version.*/
        .mat-progress-bar-buffer {
          background-color: red;
        }
      }
    }

    .selectedProgressBar {
      border: 1px solid black;
      border-radius: 5px;
      background-color: $gray-300;
    }
  }
}


.mcv-file-wrapper {
  background-color: $gray-400;
  box-sizing: border-box;
  border-radius: $border-radius;
  cursor: pointer;
  width: 214px;
  flex: 0 0;

  &.uploading {
    background-color: mat-color($mcv-primary, 500);
    color: $white;

    .mcv-file-icon {
      color: inherit !important;
    }
  }

  .mcv-file-thumbnail-wrapper {
    height: 180pxt;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 3px 3px 0 3px;
    position: relative;

    .mcv-file-video-preview {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: $border-radius;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 3px 3px 0 3px;
    }

    &.mcv-file-thumbnail-wrapper-vertical {
      height: 260px !important;
    }

    & .mcv-file-thumbnail {
      flex-grow: 1;
      flex-shrink: 0;
      height: 100%;
      width: 100%;
      // Makes `<img>` tags behave like `background-size: cover`. Not supported
      // in IE, but we're using it as a progressive enhancement.
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: $border-radius;
    }

    & .mcv-file-thumbnail-icon {
      z-index: 9;
      color: mat-color($mcv-primary, 500);
      max-width: 9rem;

      .material-icons {
        font-size: 60px;
        height: 60px;
        width: 60px;
      }
    }
  }

  .mcv-file-caption {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
  }

  .mcv-file {
    display: -webkit-box;
    flex: 1 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 3px;

    & .mcv-file-detail {
      padding: 5px;
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      flex-grow: 1;

      .mcv-file-spinner {
        width: 40px;
        height: 40px;
      }

      & .mcv-file-icon {
        color: mat-color($mcv-primary, 500);
        margin: 0 2px;
      }
    }

    & .mcv-file-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.image-history-wrapper {
  display: flex;
  width: 100%;
}

.project-name {
  font-size: 0.65rem;
}


@media only screen and (max-width: 768px) {
  .mcv-file-wrapper {
    width: 100% !important;

    .mcv-file-thumbnail-wrapper {
      height: 180px;
    }
  }

  .minutes-intial-details {
    display: flex;
    justify-content: space-between;
  }
}

.mcv-file-detail {

  h6,
  span {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .minutes-wrapper {
    .minutes-page {
      width: calc(100vw - 0.5rem);
    }
  }

  .image-history-wrapper {
    display: flex;
    flex-wrap: wrap;

    .mcv-file-list {
      width: 100%;
    }

    .history-wrapper {
      width: 100%;
    }
  }

  .minutes-agenda-comment-focused {
    width: 100%;
  }
}