<ul class="mcv-paged-list">
  <li *ngFor="let item of dataList; let i = index;" [routerLinkActive]="['active']">
    <a [routerLink]="[pagedListConfig.route,item.id]">
      <app-site-visit-list-item [item]="item" [showAll]="pagedListConfig.showAll"></app-site-visit-list-item>
    </a>
  </li>

  <li *ngIf="!isLoading && dataList.length == 0">
    <div class="row">
      <div class="col-12">
        <span>No items found</span>
      </div>
    </div>
  </li>

  <li *ngIf="!isLoading && totalRecordsCount > 0 && pagedListConfig.pageSize + 1 < totalPages"
    (click)="loadMoreRecords()" class="text-center">
    <div class="row">
      <div class="col-12">
        <span style="cursor:pointer;">Show More</span>
      </div>
    </div>
  </li>
</ul>