<!-- Reusable template for your form -->
<ng-template #headerActionTemplate>
  <!-- <form [formGroup]="form" autocomplete="off">
        <mat-radio-group formControlName="isCompany">
            <mat-radio-button [value]="false">
                Person
            </mat-radio-button>
            <mat-radio-button [value]="true">
                Company
            </mat-radio-button>
        </mat-radio-group>
    </form> -->
  <button mat-raised-button aria-label="Save" (click)="onSubmit()">Save</button>
</ng-template>

<div class="mat-dialog-header contact-create-dialog-header">
  <h5 class="contact-create-dialog-header-title">{{dialogTitle}}</h5>
  <div class="contact-create-dialog-header-actions theme-dark">
    <ng-container *ngTemplateOutlet="headerActionTemplate"></ng-container>
  </div>
  <button mat-icon-button aria-label="close" (click)="onClose(null)">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="contact-create-dialog-mobile-actions">
  <ng-container *ngTemplateOutlet="headerActionTemplate"></ng-container>
</div>
<mat-dialog-content>

  <div class="contact-create-form">
    <!-- <div class="contact-alert-bar" *ngIf="isShowAlert" (click)="onOpenMerge()">
      <mat-icon>warning</mat-icon>
      <div>
        <h6>{{this.existingContacts.length}} Duplicate Contacts Found !</h6>
        <small> Contact(s) already exists with same name. Click here to merge.</small>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-8">
        <div class="form-collection">
          <form [formGroup]="form" autocomplete="off">
            <div class="row m-0">
              <ng-container *ngIf="!isCompany">
                <mat-form-field appearance="outline" class="col-md-3">
                  <mat-label>Gender</mat-label>
                  <!-- <input placeholder="Enter gender" aria-label="Gender" matInput formControlName="gender" /> -->
                  <mat-select formControlName="gender" placeholder="Gender">
                    <mat-option *ngFor="let item of genderOptions" [value]="item">{{item}}</mat-option>
                  </mat-select>
                  <mat-error>{{ getErrorMessage(f.gender) }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-3">
                  <mat-label>Prefix/Title</mat-label>
                  <input placeholder="Enter prefix eg. Mr/Ms" aria-label="Prefix" matInput formControlName="title" />
                  <mat-error>{{ getErrorMessage(f.title) }}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-6">
                  <mat-label>First Name</mat-label>
                  <input placeholder="First Name" aria-label="First Name" matInput formControlName="firstName" />
                  <mat-error>{{ getErrorMessage(f.firstName) }}</mat-error>
                </mat-form-field>

                <!-- Middle Name -->
                <mat-form-field appearance="outline" class="col-md-6">
                  <mat-label>Middle Name</mat-label>
                  <input placeholder="Middle Name" aria-label="Middle Name" matInput formControlName="middleName" />
                  <mat-error>{{ getErrorMessage(f.middleName) }}</mat-error>
                </mat-form-field>

                <!-- Last Name -->
                <mat-form-field appearance="outline" class="col-md-6">
                  <mat-label>Last Name</mat-label>
                  <input placeholder="Last Name" aria-label="Last Name" matInput formControlName="lastName" />
                  <mat-error>{{ getErrorMessage(f.lastName) }}</mat-error>
                </mat-form-field>

              </ng-container>

              <ng-container *ngIf="isCompany">
                <mat-form-field appearance="outline" class="col-md-12">
                  <mat-label>Company Name</mat-label>
                  <input placeholder="First Name" aria-label="First Name" matInput formControlName="firstName" />
                  <mat-error>{{
                    getErrorMessage(f.firstName)
                    }}</mat-error>
                </mat-form-field>

              </ng-container>

              <!-- <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>Category</mat-label>
                <mat-select [formControl]="categoryFC" multiple placeholder="Select Categories">
                  <mat-option *ngFor="let item of categoryOptions" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field> -->


              <!-- <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>Website</mat-label>
                <input placeholder="https://myecomep.com" aria-label="Website" matInput formControlName="website" />
                <mat-error>{{ getErrorMessage(f.website) }}
                </mat-error>
              </mat-form-field> -->




            </div>
          </form>
        </div>

        <div class="form-collection" [formGroup]="form">
          <h5 class="form-collection-title">Addresses</h5>
          <div formArrayName="addresses">
            <ng-container *ngFor="let item of addresses().controls;let i = index">
              <div class="contact-phone-form-wrapper" [formGroupName]="i">
                <div class="contact-phone-form-actions">
                  <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select placeholder="Type" formControlName="title">
                      <mat-option *ngFor="let title of addressTitleOptions" [value]="title">{{title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div>
                    <mat-checkbox formControlName="isPrimary" (change)="onAddressPrimaryChange(i)">Primary
                    </mat-checkbox>
                  </div>
                  <button mat-icon-button (click)="onRemoveAddress(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <div class="contact-phone-form-fields">
                  <mat-form-field appearance="outline">
                    <mat-label>Street</mat-label>
                    <input placeholder="Street" aria-label="Street" matInput formControlName="street" />
                  </mat-form-field>
                </div>

                <div class="contact-phone-form-fields">
                  <mat-form-field appearance="outline">
                    <mat-label>Area</mat-label>
                    <input placeholder="Area" aria-label="Area" matInput formControlName="area" />
                  </mat-form-field>
                </div>

                <div class="row">
                  <mat-form-field appearance="outline" class="contact-phone-form-fields col-md-6 col-12">
                    <mat-label>City</mat-label>
                    <input placeholder="City" aria-label="City" matInput formControlName="city"
                      [matAutocomplete]="autoCity" />
                    <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="displayFnCity"
                      (optionSelected)="onSelectCity($event,i)">
                      <mat-option *ngFor="let option of filteredCityOptions$[i] | async" [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="contact-phone-form-fields col-md-6 col-12">
                    <mat-label>State</mat-label>
                    <input placeholder="State" aria-label="State" matInput formControlName="state"
                      [matAutocomplete]="autoState" />
                    <mat-autocomplete #autoState="matAutocomplete" [displayWith]="displayFnState"
                      (optionSelected)="onSelectState($event,i)">
                      <mat-option *ngFor="let option of filteredStateOptions$[i] | async" [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="contact-phone-form-fields col-md-6 col-12">
                    <mat-label>Country</mat-label>
                    <input placeholder="Country" aria-label="Country" matInput formControlName="country"
                      [matAutocomplete]="autoCountry" />
                    <mat-autocomplete #autoCountry="matAutocomplete" [displayWith]="displayFnCountry"
                      (optionSelected)="onSelectCountry($event,i)">
                      <mat-option *ngFor="let option of filteredCountryOptions$[i] | async" [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="contact-phone-form-fields col-md-6 col-12">
                    <mat-label>Pin Code</mat-label>
                    <input placeholder="Pin Code" aria-label="Pin Code" matInput formControlName="pinCode" />
                  </mat-form-field>
                </div>

              </div>
            </ng-container>
            <div class="form-collection-actions">
              <button mat-raised-button color="primary" (click)="onAddAddress()" [disabled]="addresses().invalid"><mat-icon>add</mat-icon>
                More</button>
            </div>
          </div>
        </div>

        <div class="form-collection">
          <h5 class="form-collection-title">Emergency Contact Details</h5>
          <form [formGroup]="form" autocomplete="off">

            <div class="form-collection-item">
              <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>Family Member's Name</mat-label>
                <input placeholder="Family Contact Name" aria-label="Family Contact Name"
                  matInput formControlName="familyContactName" />
                <mat-error>{{
                  getErrorMessage(f.familyContactName)
                  }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Family Member's Phone No.</mat-label>
                <input placeholder="Family Contact Phone" aria-label="Family Contact Phone"
                  matInput formControlName="familyContactPhone" />
                  <span matSuffix>
                    <mat-icon>phone</mat-icon>
                  </span>
                  <mat-error *ngIf="f.familyContactPhone?.hasError('pattern')">Please enter a valid input</mat-error>
                <mat-error *ngIf="getErrorMessage(f.familyContactPhone)">{{
                  getErrorMessage(f.familyContactPhone)
                  }}</mat-error>
                     
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Family Member's Relation</mat-label>
                <input placeholder="Family Contact Relation"
                  aria-label="Family Contact Relation" matInput formControlName="familyContactRelation" />
                <mat-error>{{
                  getErrorMessage(f.familyContactRelation)
                  }}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-collection-item">
              <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>Emergency Contact's Name</mat-label>
                <input placeholder="Emergency Contact Name"
                  aria-label="Emergency Contact Name" matInput formControlName="emergencyContactName" />
                <mat-error>{{
                  getErrorMessage(f.emergencyContactName)
                  }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Emergency Contact's Phone No.</mat-label>
                <input placeholder="Emergency Contact Phone"
                  aria-label="Emergency Contact Phone" matInput formControlName="emergencyContactPhone" />
                  <span matSuffix>
                    <mat-icon>phone</mat-icon>
                  </span>
                  <mat-error *ngIf="f.emergencyContactPhone?.hasError('pattern')">Please enter a valid input</mat-error>
                <mat-error>{{
                  getErrorMessage(f.emergencyContactPhone)
                  }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Emergency Contact's Relation</mat-label>
                <input placeholder="Emergency Contact Relation"
                  aria-label="Emergency Contact Relation" matInput formControlName="emergencyContactRelation" />
                <mat-error>{{
                  getErrorMessage(f.emergencyContactRelation)
                  }}</mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>

        <div class="form-collection">
          <h5 class="form-collection-title">Appointment Details</h5>

          <form [formGroup]="appointmentForm" autocomplete="off">

            <div class="row m-0">
              <div class="col-md-12">

                <div class="form-collection-item mb-1">
                  <mat-radio-group formControlName="typeFlag">
                    <mat-radio-button *ngFor="let appointmentType of appointmentTypeOptions"
                      [value]="appointmentType.value">
                      {{ appointmentType.title }}
                    </mat-radio-button>
                  </mat-radio-group>
                  <small class="mat-small p-2">Used for salary/remuneration purpose.</small>
                </div>
              </div>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Company</mat-label>
                <mat-select formControlName="companyID">
                  <mat-option *ngFor="let company of companyOptions" [value]="company.id">
                    {{ company.title }} ({{ company.initials }})
                  </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage(af.companyID) }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Designation</mat-label>
                <input placeholder="Designation" aria-label="Designation" matInput formControlName="designation" />

                <mat-error>{{ getErrorMessage(af.designation) }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Joining Date</mat-label>
                <input matInput formControlName="joiningDate" [matDatepicker]="joiningDatePicker"
                  placeholder="Select Date" />
                <mat-error>{{ getErrorMessage(af.joiningDate) }}</mat-error>
                <mat-datepicker-toggle matSuffix [for]="joiningDatePicker"></mat-datepicker-toggle>
                <mat-datepicker [touchUi]="isMobileView" #joiningDatePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Reporting To</mat-label>
                <mat-select formControlName="managerContact" placeholder="Search Contact" #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="clientContactFC" placeholderLabel="Search here"
                      noEntriesFoundLabel="No matching value found"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let option of filteredManagerContacts$ | async" [value]="option">
                    {{option?.name}}
                  </mat-option>
                </mat-select>
                <mat-error>{{getErrorMessage(af.managerContact)}}</mat-error>
              </mat-form-field>
            </div>

          </form>
          <app-mcv-file-upload class="pt-1" [uploaderConfig]="blobConfigAppointment" [showPaste]="true"
            (upload)="onUploadAppointment($event)" *ngIf="blobConfigAppointment">
          </app-mcv-file-upload>
          <ul class="mcv-file-list">
            <li *ngFor="let file of getFilteredAttachments(attachments,0,true)">
              <mcv-file [filename]="file.filename" [size]="file.size" [showRemove]="true"
                (delete)="onDeleteAttachment(file)" [downloadUrl]="file.url" [showPreview]="true" [singlePreview]="true"
                [url]="file.url" [thumbUrl]="file.thumbUrl">
              </mcv-file>
              <div class="p-2">
                <app-mcv-tag-editor [tags]="file.searchTags" [tagOptions]="attachmentTagOptions"
                  [isPermissionEdit]="true" (update)="onTagsUpdate($event,file)">
                </app-mcv-tag-editor>
              </div>
            </li>
          </ul>
          <ul class="mcv-file-list">
            <li *ngFor="let file of getFilteredAttachments(attachments,0,false)">
              <mcv-file [filename]="file.filename" [size]="file.size" [showRemove]="true"
                (delete)="onDeleteAttachment(file)" [downloadUrl]="file.url" [thumbUrl]="file.thumbUrl">
              </mcv-file>
              <div class="p-2">
                <app-mcv-tag-editor [tags]="file.searchTags" [tagOptions]="attachmentTagOptions"
                  [isPermissionEdit]="true" (update)="onTagsUpdate($event,file)">
                </app-mcv-tag-editor>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-collection">
          <!-- <h5 class="form-collection-title">Photo</h5> -->
          <div class="contact-photo-wrapper">
            <div class="photo-upload">
              <img alt="" src="{{ currentEntity.photoUrl || 'assets/images/user.png' }}" />
            </div>
            <div class="d-flex ">
              <app-mcv-file-upload [uploaderConfig]="blobConfigPhoto" [showPaste]="true"
                (upload)="onUploadPhoto($event)" *ngIf="blobConfigPhoto">
              </app-mcv-file-upload>
              <button (click)="onRemovePhoto()" mat-icon-button aria-label="remove"
                *ngIf="currentEntity.photoUrl"><mat-icon>delete</mat-icon></button>
            </div>
          </div>
        </div>
        <div class="form-collection" [formGroup]="form">
          <h5 class="form-collection-title">Phone Numbers</h5>
          <div formArrayName="phones">
            <ng-container *ngFor="let item of phones().controls;let i = index">
              <div class="contact-phone-form-wrapper" [formGroupName]="i">
                <div class="contact-phone-form-actions">
                  <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select placeholder="Type" formControlName="title">
                      <mat-option *ngFor="let title of phoneTitleOptions" [value]="title">{{title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div>
                    <mat-checkbox formControlName="isPrimary" (change)="onPhonePrimaryChange(i)">Primary
                    </mat-checkbox>
                  </div>
                  <button mat-icon-button (click)="onRemovePhone(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div class="contact-phone-form-fields">

                  <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input placeholder="Phone" aria-label="Phone" matInput formControlName="phone" />
                    <span matSuffix>
                      <mat-icon>phone</mat-icon>
                    </span>
                    <mat-error *ngIf="item.get('phone')?.hasError('required')">Phone is required</mat-error>
                    <mat-error *ngIf="item.get('phone')?.hasError('pattern')">Please enter a valid input</mat-error>
                  </mat-form-field>

                </div>
              </div>
            </ng-container>
          </div>
          <div class="form-collection-actions">
            <button mat-raised-button color="primary" (click)="onAddPhone()" [disabled]="phones().invalid"><mat-icon>add</mat-icon>
              More</button>
          </div>
        </div>

        <div class="form-collection" [formGroup]="form">
          <h5 class="form-collection-title">Email Addresses</h5>
          <div formArrayName="emails">
            <ng-container *ngFor="let item of emails().controls;let i = index">
              <div class="contact-phone-form-wrapper" [formGroupName]="i">
                <div class="contact-phone-form-actions">
                  <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select placeholder="Type" formControlName="title">
                      <mat-option *ngFor="let title of emailTitleOptions" [value]="title">{{title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div>
                    <mat-checkbox formControlName="isPrimary">Primary
                    </mat-checkbox>
                  </div>
                  <button mat-icon-button (click)="onRemoveEmail(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <div class="contact-phone-form-fields">
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input placeholder="Email" aria-label="Email" matInput formControlName="email" />
                    <span matSuffix>
                      <mat-icon>email</mat-icon>
                    </span>
                    <mat-error *ngIf="item.get('email')?.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="item.get('email')?.hasError('pattern')">Please enter a valid input</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="form-collection-actions">
            <button mat-raised-button color="primary" (click)="onAddEmail()" [disabled]="emails().invalid"><mat-icon>add</mat-icon>
              More</button>
          </div>
        </div>

        <div class="form-collection" *ngIf="!isCompany ">
          <h5 class="form-collection-title">Personal Details</h5>
          <form [formGroup]="form" autocomplete="off">
            <div class="row m-0">
              <mat-form-field appearance="outline" class="col-sm-12" *ngIf="!isCompany ">
                <mat-label>Birth Date</mat-label>
                <input matInput formControlName="birth" [matDatepicker]="birthDatePicker" placeholder="Select Date" />
                <mat-error>{{
                  getErrorMessage(f.birth)
                  }}</mat-error>
                <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                <mat-datepicker [touchUi]="isMobileView" #birthDatePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-sm-12" *ngIf="!isCompany ">
                <mat-label>Marital Status</mat-label>
                <mat-select placeholder="Marital Status" formControlName="maritalStatus">
                  <mat-option [value]="'Single'">Single</mat-option>
                  <mat-option [value]="'Married'">Married</mat-option>
                </mat-select>
                <mat-error>{{
                  getErrorMessage(f.maritalStatus)
                  }}</mat-error>

              </mat-form-field>

              <mat-form-field appearance="outline" class="col-sm-12" *ngIf="!isCompany ">
                <mat-label>Anniversary</mat-label>
                <input matInput formControlName="anniversary" [matDatepicker]="anniversaryDatePicker"
                  placeholder="Select Date" />
                <mat-error>{{
                  getErrorMessage(f.anniversary)
                  }}</mat-error>
                <mat-datepicker-toggle matSuffix [for]="anniversaryDatePicker"></mat-datepicker-toggle>
                <mat-datepicker [touchUi]="isMobileView" #anniversaryDatePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-sm-12">
                <mat-label>PAN Number</mat-label>
                <input placeholder="PAN Number" aria-label="PAN Number" matInput formControlName="pan" />
                <mat-error>{{ getErrorMessage(f.pan) }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-sm-12">
                <mat-label>Aadhaar Number</mat-label>
                <input placeholder="Aadhaar Number" aria-label="Aadhaar Number" matInput formControlName="aadhaar" />
                <mat-error>{{ getErrorMessage(f.aadhaar) }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-sm-12">
                <mat-label>Bank Name & Branch</mat-label>
                <input placeholder="Bank Name & Branch" aria-label="Bank Name & Branch" matInput
                  formControlName="bankName" />
                <mat-error>{{ getErrorMessage(f.bankName) }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-sm-12">
                <mat-label>Bank IFSC Code</mat-label>
                <input placeholder="Bank IFSC Code" aria-label="Bank IFSC Code" matInput formControlName="ifscCode" />
                <mat-error>{{ getErrorMessage(f.ifscCode) }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-sm-12">
                <mat-label>Bank A/c No</mat-label>
                <input placeholder="Bank A/c No" aria-label="Bank A/c No" matInput formControlName="bankAccountNo" />
                <mat-error>{{ getErrorMessage(f.bankAccountNo) }}
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>

        <div class="form-collection" *ngIf="isCompany ">
          <h5 class="form-collection-title">
            Business Details
          </h5>
          <form [formGroup]="form" autocomplete="off">
            <div class="row m-0">

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>PAN Number</mat-label>
                <input placeholder="PAN Number" aria-label="PAN Number" matInput formControlName="pan" />
                <mat-error>{{ getErrorMessage(f.pan) }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Aadhaar Number</mat-label>
                <input placeholder="Aadhaar Number" aria-label="Aadhaar Number" matInput formControlName="aadhaar" />
                <mat-error>{{ getErrorMessage(f.aadhaar) }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6" *ngIf="isCompany ">
                <mat-label>TAN Number</mat-label>
                <input placeholder="TAN Number" aria-label="TAN Number" matInput formControlName="tan" />
                <mat-error>{{ getErrorMessage(f.tan) }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6" *ngIf="isCompany ">
                <mat-label>GST Number</mat-label>
                <input placeholder="GSTIN" aria-label="GSTIN" matInput formControlName="gstin" />
                <mat-error>{{ getErrorMessage(f.gstin) }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6" *ngIf="isCompany ">
                <mat-label>HSN Number</mat-label>
                <input placeholder="HSN Number" aria-label="HSN Number" matInput formControlName="hsn" />
                <mat-error>{{ getErrorMessage(f.hsn) }}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6" *ngIf="isCompany ">
                <mat-label>ARN Number</mat-label>
                <input placeholder="ARN Number" aria-label="ARN Number" matInput formControlName="arn" />
                <mat-error>{{ getErrorMessage(f.arn) }}
                </mat-error>
              </mat-form-field>

            </div>
          </form>
        </div>
        <div class="form-collection">

          <h5 class="form-collection-title">
            Comments/Remarks
          </h5>
          <form [formGroup]="form" autocomplete="off">
            <mat-form-field appearance="outline" appearance="outline">
              <mat-label></mat-label>
              <textarea aria-label="description" matInput formControlName="description" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" [cdkAutosizeMinRows]="3"></textarea>
              <mat-error>{{ getErrorMessage(f.description) }}</mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>