$mcv-file-thumbnail-width: 214px !default;
$mcv-file-thumbnail-height: 180px !default;
$mcv-file-bg-color: $gray-400 !default;
$mcv-file-bg-color-hover: $gray-500 !default;
$mcv-lightbox-wrapper-width: 60vw !default;