<!-- Reusable template for your form -->
<ng-template #headerActionTemplate>
    <form [formGroup]="form" autocomplete="off">
        <mat-radio-group formControlName="subjectType">
            <mat-radio-button [value]="'Project'">
                Project
            </mat-radio-button>
            <mat-radio-button [value]="'Event'">
                Event
            </mat-radio-button>
        </mat-radio-group>
    </form>
    <button mat-raised-button aria-label="Save" (click)="onSubmit()">Save</button>


</ng-template>

<div class="mat-dialog-header sitevisit-create-dialog-header">
    <h5 class="sitevisit-create-dialog-header-title">{{dialogTitle}}</h5>
    <div class="sitevisit-create-dialog-header-actions  theme-dark">
        <ng-container *ngTemplateOutlet="headerActionTemplate"></ng-container>
    </div>
    <button mat-icon-button aria-label="close" (click)="onClose(null)">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="sitevisit-create-dialog-mobile-actions">
    <ng-container *ngTemplateOutlet="headerActionTemplate"></ng-container>
</div>
<mat-dialog-content>
    <div class="sitevisit-create-form">
        <div class="alert-bar" *ngIf="isShowAlert">
            <h6>{{alertMessage}}</h6>
            <mat-icon>warning</mat-icon>
        </div>

        <div class="container-fluid" *ngIf="form">
            <div class="row">
                <div class="col-md-12">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Sitevisit Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>


                        <form [formGroup]="form" autocomplete="off">
                            <div class="row m-0">
                                <mat-form-field appearance="outline" class="col-md-8">
                                    <mat-label>Start Date</mat-label>
                                    <input id="startDate" placeholder=" From" aria-label=" From" matInput
                                        formControlName="startDate" [matDatepicker]="pickerFrom">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                    <mat-datepicker [touchUi]="isMobileView" #pickerFrom></mat-datepicker>
                                    <mat-error>{{getErrorMessage(f.startDate)}}</mat-error>
                                    <mat-hint align="end">Sitevisit start</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-md-4">
                                    <mat-label>Start Time</mat-label>
                                    <input id="startTime" aria-label="startTime" [ngxTimepicker]="pickerstartTime"
                                        formControlName="startTime" matInput [format]="24">
                                    <ngx-material-timepicker #pickerstartTime
                                        [minutesGap]="minutesGap"></ngx-material-timepicker>

                                    <mat-error>{{getErrorMessage(f.startTime)}}</mat-error>
                                    <mat-hint align="end">24 hour</mat-hint>
                                </mat-form-field>









                            </div>
                            <div class="row m-0">
                                <mat-form-field appearance="outline" class="col-md-8">
                                    <mat-label>End Date</mat-label>
                                    <input id="endDate" placeholder=" To" aria-label=" To" matInput
                                        formControlName="endDate" [matDatepicker]="pickerTo">
                                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                    <mat-datepicker [touchUi]="isMobileView" #pickerTo></mat-datepicker>
                                    <mat-error>{{getErrorMessage(f.endDate)}}</mat-error>
                                    <mat-hint align="end">Sitevisit end</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-md-4">
                                    <mat-label>End Time</mat-label>
                                    <input id="endTime" aria-label="endTime" [ngxTimepicker]="pickerendTime" matInput
                                        formControlName="endTime" [format]="24">
                                    <ngx-material-timepicker #pickerendTime
                                        [minutesGap]="minutesGap"></ngx-material-timepicker>

                                    <mat-error>{{getErrorMessage(f.endTime)}}</mat-error>
                                    <mat-hint align="end">24 hour</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="row m-0">
                                <mat-form-field appearance="outline" class="col-sm-12"
                                    *ngIf="f.subjectType.value!='Event'">
                                    <mat-label>Project</mat-label>
                                    <input placeholder="Enter project name and select"
                                        aria-label="Enter project name and select" matInput formControlName="project"
                                        [matAutocomplete]="auto" />
                                    <mat-autocomplete #auto="matAutocomplete"
                                        (optionSelected)="onProjectSelected($event.option.value)"
                                        [displayWith]="displayFnProject">
                                        <mat-option *ngFor="let option of (filteredProjects$ | async)" [value]="option">
                                            {{ option.code }}-{{ option.title }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>{{ getErrorMessage(f.project) }}</mat-error>
                                    <mat-hint align="end">Enter project name and select</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-sm-12"
                                    *ngIf="f.subjectType.value=='Event'">
                                    <mat-label>Title</mat-label>
                                    <input placeholder="Title" aria-label="Title" matInput formControlName="title"
                                        [matAutocomplete]="subject">
                                    <mat-autocomplete #subject="matAutocomplete" [displayWith]="displayFnSubject">
                                        <mat-option *ngFor="let option of filteredSubjectOptions$ | async"
                                            [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error>{{getErrorMessage(f.title)}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="row m-0">
                                <mat-form-field appearance="outline" class="col-sm-12">
                                    <mat-label>Location</mat-label>
                                    <input id="location" aria-label="location" matInput formControlName="location">
                                    <mat-error>{{getErrorMessage(f.location)}}</mat-error>
                                </mat-form-field>
                            </div>
                        </form>


                    </mat-expansion-panel>

                </div>

            </div>
        </div>
    </div>
</mat-dialog-content>