@import 'variables';
@import 'theme';

.sitevisit-create-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: mat-color($mcv-primary, 500);
    color: $white;

    .sitevisit-create-dialog-header-title {
        font-weight: 600;
        padding: 12px;
    }

    .sitevisit-create-dialog-header-actions {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        gap: 0.3rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }
}

.sitevisit-create-dialog-mobile-actions {
    display: none;
}

.sitevisit-create-form {
    .contact-alert-bar {
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: $border-radius;
        background-color: $red;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form-collection {
        border-radius: $border-radius;
        // padding: 0.3rem;
        margin: 15px 0 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .form-collection-title {
            font-weight: 600;
            padding: 0.3rem;
            color: $gray-600;
        }

        .form-collection-actions {
            display: flex;
            gap: 0.3rem;
            align-items: center;
            justify-content: flex-end;
            padding: 0.2rem;
        }

        .form-collection-item {
            border: 1px solid $gray-300;
            border-radius: $border-radius;
            padding: 0.3rem 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .mat-mdc-dialog-content {
        height: calc(85vh - 60px) !important;
    }

    .sitevisit-create-dialog-mobile-actions {
        background-color: mat-color($mcv-primary, 500);
        display: flex;
        gap: 0.3rem;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
    }

    .sitevisit-create-dialog-header {

        .sitevisit-create-dialog-header-actions {
            display: none;
        }
    }
}