<div class="row">
    <div class="col-md-8">

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Notes</mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="project-notes">
                <li *ngFor="let item of notes; let i=index">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="font-focused">{{item.created | date:'dd MMM y HH:mm'}} | {{item.createdBy}}</h6>
                            <p>{{item.notes}}</p>
                        </div>
                        <!-- <button mat-icon-button (click)="onDelete(item)" matTooltip="Remove" aria-label="Remove"
                            *ngIf="!isReadOnly && isPermissionEdit">
                            <mat-icon>close</mat-icon>
                        </button> -->
                    </div>
                </li>
            </ul>
        </mat-expansion-panel>
    </div>

    <div class="col-md-4">
        <mat-expansion-panel [expanded]="true" *ngIf="isPermissionEdit" class="theme-dark">
            <mat-expansion-panel-header>
                <mat-panel-title>New Note</mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="project-notes-action-wrapper">
                <form [formGroup]="form" autocomplete="off">

                    <div class="row m-0">
                        <mat-form-field appearance="outline" class="col-md-12">
                            <mat-label>Notes</mat-label>
                            <textarea aria-label="notes" matInput formControlName="notes" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" placeholder="Enter Notes/Comments here"
                                rows="3"></textarea>
                            <mat-error>{{ getErrorMessage(f['notes'])}}</mat-error>
                        </mat-form-field>
                    </div>

                </form>
                <div class="action-buttons">
                    <button mat-raised-button color="primary" aria-label="Add" (click)="onCreate()"
                        [disabled]="!form.valid" *ngIf="isPermissionEdit" [disabled]>Add</button>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Activity </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="mcv-activity-list-wrapper">
                <mcv-activity-list #activity [entity]="'Project'" [entityID]="project.id">
                </mcv-activity-list>
            </div>
        </mat-expansion-panel>
    </div>
</div>