<app-header [title]="headerTitle" [titleCount]="headerTitleCount">
    <!-- <div class="mv-list-search-filter" *ngIf="isMobileView">
      <mat-icon matPrefix>search</mat-icon>
      <input aria-label="Type to Search" [formControl]="searchFC" matInput />
    </div> -->
</app-header>

<div class="app-setting-wrapper" *ngIf="presets">
    <form [formGroup]="form">
        <table>
            <thead>
                <tr>
                    <!-- <th>Type</th> -->
                    <th>Sr No</th>
                    <th (click)="sort('presetKey')">
                        <div class="sort-header">
                            Preset Key
                        <mat-icon *ngIf="sortColumn === 'presetKey'">
                            {{ sortDirection === 'asc' ? 'arrow_drop_down' : 'arrow_drop_up' }}
                          </mat-icon>
                        </div> 
                        
                    </th>
                    <th>Preset Value</th>
                    <th>Action</th>

                </tr>

            </thead>
            <tbody formArrayName="presets">
                <ng-container *ngFor="let item of presets; let i=index" [formGroupName]="i">
                    <tr>
                        <td class="text-center">
                            <h6>{{i+1}}</h6>
                        </td>
                        <td class="text-wrap">
                            <div class="cell-content">
                                <div class="cell-input">

                                    <textarea class="text-start" aria-label="Preset Key" matInput
                                        [formControl]="getFormControl(fa,i,'key')" cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize" [cdkAutosizeMinRows]="1" (change)="updatePreset($event,i,'key')"></textarea>
                                </div>
                            </div>
                        </td>
                        <td class="text-wrap">
                            <div class="cell-content">
                                <div class="cell-input">
                                    <textarea class="text-start" aria-label="Preset Value" matInput
                                        [formControl]="getFormControl(fa,i,'value')" cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize" [cdkAutosizeMinRows]="0" (change)="updatePreset($event,i,'value')"></textarea>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <mat-icon class="delete-preset" (click)="onDeletePreset(i)">delete</mat-icon>

                            </div>
                           
                        </td>
                    </tr>
                   
                </ng-container>
                <tr>
                    <td colspan="4">
                        <div class="d-flex justify-content-center" (click)="addPreset()">
                            <mat-icon>add</mat-icon>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<!-- 
<app-footer></app-footer> -->