<div class="mat-dialog-header mcv-dialog-header">
    <h5 class="font-focused" *ngIf="typeFlag == 0">WorkOrder | {{workOrder.workOrderNo}}</h5>
    <h5 class="font-focused" *ngIf="typeFlag == 1">Offer | {{workOrder.workOrderNo}}</h5>
    <div class="d-flex align-items-center">
        <button mat-raised-button aria-label="close" color="primary" (click)="onSubmit()">
            Save
        </button>
        <button mat-icon-button aria-label="close" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content>
    <div class="form-container">
        <h6 class="font-focused py-1">Details</h6>
        <div class="row p-1" [formGroup]="form">
            <div class="col-12 col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label *ngIf="typeFlag == 0">WorkOrder Date</mat-label>
                    <mat-label *ngIf="typeFlag == 1">Offer Date</mat-label>
                    <input placeholder="WorkOrder Date" aria-label="WorkOrder Date" matInput
                        formControlName="workOrderDate" [matDatepicker]="pickerWorkOrderDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerWorkOrderDate"></mat-datepicker-toggle>
                    <mat-datepicker [touchUi]="isMobileView" #pickerWorkOrderDate></mat-datepicker>
                    <mat-error>{{getErrorMessage(f.workOrderDate)}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label *ngIf="typeFlag == 0">WorkOrder Number</mat-label>
                    <mat-label *ngIf="typeFlag == 1">Offer Number</mat-label>
                    <input placeholder="WorkOrder Number" aria-label="WorkOrder Number" matInput
                        formControlName="workOrderNo" [min]="0">
                    <mat-error>{{getErrorMessage(f.workOrderNo)}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Amount</mat-label>
                    <input type="number" placeholder="Amount" aria-label="Amount" matInput formControlName="fees"
                        [min]="0">
                    <span matSuffix><mat-icon>currency_rupee</mat-icon></span>
                    <mat-error>{{getErrorMessage(f.fees)}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Due Date</mat-label>
                    <input placeholder="Due Date" aria-label="Due Date" matInput formControlName="dueDate"
                        [matDatepicker]="pickerDueDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerDueDate"></mat-datepicker-toggle>
                    <mat-datepicker [touchUi]="isMobileView" #pickerDueDate></mat-datepicker>
                    <mat-error>{{getErrorMessage(f.dueDate)}}</mat-error>
                </mat-form-field>

                <div formArrayName="serviceAmounts">
                    <ng-container *ngFor="let item of serviceAmounts.controls; let i = index">
                        <div [formGroupName]="i" class="row align-items-center mb-2">
                            <!-- Service Field -->
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Service</mat-label>
                                    <mat-select placeholder="Service" formControlName="service"  (selectionChange)="updateServiceAmountAt(i);">
                                        <mat-option *ngFor="let service of serviceOptions" [value]="service">
                                            {{ service }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="item.get('service')?.hasError('required')">Service is
                                        required</mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Amount Field -->
                            <div class="col-5">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Amount</mat-label>
                                    <input type="number" placeholder="Amount" aria-label="Amount" matInput     (change)="updateServiceAmountAt(i);"
                                        formControlName="amount" [min]="0">
                                    <span matSuffix><mat-icon>currency_rupee</mat-icon></span>
                                    <mat-error *ngIf="item.get('amount')?.hasError('required')">Amount is
                                        required</mat-error>
                                    <mat-error *ngIf="item.get('amount')?.hasError('pattern')">Please enter a valid
                                        input</mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Add Button -->
                            <div class="col-1 p-0" *ngIf="i === serviceAmounts.length - 1">
                                <button mat-icon-button color="primary" (click)="onAddServiceAmounts()"
                                    [disabled]="serviceAmounts.invalid">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>

                            <!-- Delete Button -->
                            <div class="col-1 p-0" *ngIf="i < serviceAmounts.length - 1">
                                <button mat-icon-button color="warn" (click)="onRemoveserviceAmounts(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>



                    </ng-container>
                </div>
            </div>






            <!-- <mat-form-field appearance="outline" class="col-6 col-md-6">
                <mat-label>Amount</mat-label>
                <input type="number" placeholder="Amount" aria-label="Amount" matInput formControlName="fees" [min]="0">
                <span matSuffix><mat-icon>currency_rupee</mat-icon></span>
                <mat-error>{{getErrorMessage(f.fees)}}</mat-error>
            </mat-form-field> -->



        </div>

        <h6 class="font-focused py-1">Attachments</h6>
        <div class="attachment-container">
            <app-mcv-file-upload class="pt-1" [uploaderConfig]="blobConfig" [showPaste]="true"
                (upload)="onUpload($event)" *ngIf="blobConfig">
            </app-mcv-file-upload>

            <div class="col-12" *ngIf="workOrder.attachments && workOrder.attachments.length > 0">
                <ul class="mcv-file-list">
                    <li *ngFor="let file of workOrder.attachments">
                        <mcv-file [filename]="file.filename" [size]="file.size" [downloadUrl]="file.url"
                            [showPreview]="true" [url]="file.url || file.thumbUrl" [singlePreview]="true"
                            [showRemove]="isPermissionWorkOrderEdit" (delete)="onDeleteAttachment(file)">
                        </mcv-file>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</mat-dialog-content>