<app-header title="Project Target"></app-header>

<div class="container">
  <div class="form-panel scrollable">
    <div class="form-header">
      <h2>{{ isEdit ? "Update Target" : "Create Target" }}</h2>
      <!-- <button class="close-btn" (click)="cancel()">✖</button> -->
    </div>

    <div class="form-body">
      <!-- Project -->
      <h3>Project</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-select
          [(ngModel)]="form.projectId"
          (selectionChange)="onProjectChange()"
        >
          <mat-option [value]="null">Select Project</mat-option>
          <mat-option *ngFor="let p of projects" [value]="p.id">
            {{ p.title || "Project #" + p.id }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Stage -->
      <h3>Stage</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-select
          [(ngModel)]="form.stage"
          [disabled]="!form.projectId"
          (selectionChange)="onStageChange()"
        >
          <mat-option value="">Select Stage</mat-option>
          <mat-option
            *ngFor="let s of stages"
            [value]="s.title"
            [disabled]="isStageAlreadyUsed(s.title)"
          >
            {{ s.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Status -->
      <h3>Status</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-select [(ngModel)]="form.stageStatus">
          <mat-option [value]="null">Select Status</mat-option>
          <mat-option *ngFor="let s of statuses" [value]="s">
            {{ s }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Target Date -->
      <h3>Target Date</h3>
      <input type="date" [(ngModel)]="form.targetDate" />

      <!-- Feedback -->
      <h3>Feedback</h3>
      <textarea [(ngModel)]="form.feedback"></textarea>
    </div>

    <div class="form-actions">
      <button class="primary-btn" (click)="save()">Save</button>
      <button class="secondary-btn" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
