@import 'variables';

.request-ticket-page-wrapper {
    width: 100%;
    background-color: $page-background;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: $app-header-height;
    left: 0;
    bottom: 50px;

    &.page-wrapper-no-footer {
        bottom: 0;
    }
}

.request-ticket-detail-wrapper {
    position: absolute;
    left: $list-width;
    top: 0;
    height: 100%;
    width: $detail-width;
    overflow-x: hidden;
    overflow-y: auto;
}

.request-ticket-detail-wrapper-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.request-ticket-list-wrapper {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: $list-width;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: $box-shadow; // 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: $white;
    z-index: 3;
}


@media (max-width: 768px) {
    .detail-wrapper {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 768px) {

    .request-ticket-page-wrapper,
    .scroll-wrapper {
        top: 92px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .request-ticket-list-wrapper {
        width: 100%;
    }

    .request-ticket-detail-wrapper {
        width: 100%;
        left: 0;
    }
}