@import 'variables';

.title-bar {
    padding: 0.2rem !important;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: $box-shadow;
    color: $title-bar-color;
    background-color: $title-bar-background;
    margin: 3px 6px;
    border-radius: $border-radius;

    &>* {
        max-width: 40%;
    }
}

mat-icon {
    cursor: pointer;
}