$mcv-file-thumbnail-width: 250px !default;
$mcv-file-thumbnail-height: 180px !default;

$mcv-file-bg-color: $gray-400 !default;
$mcv-file-bg-color-hover: $gray-500 !default;
$mcv-lightbox-wrapper-width:60vw !default;
$mcv-menu-sidebar-height: calc(100% - 40px);
$mcv-menu-width:22%;
$mcv-footer-background: $white;
