<app-header title="MY HR"></app-header>

<div class="page-wrapper full-width-page">

  <!-- 🌿 Tabs Wrapper -->
  <div class="employee-tabs-wrapper">

    <mat-tab-group>

      <!-- <mat-tab label="Work From Home">
        <app-wfh-requests></app-wfh-requests>
      </mat-tab> -->

      <mat-tab label="Attendance">
        <app-my-attendance></app-my-attendance>
      </mat-tab>


         <mat-tab label="Holiday List">
        <app-holiday-list></app-holiday-list>
      </mat-tab>

    </mat-tab-group>

  </div>

</div>