@import 'variables';
@import 'theme';

$cockpit-banner-min-height: 50px !default;
$cockpit-banner-min-width: 200px !default;
$cockpit-banner-margin: 8px 5px !default;
$cockpit-banner-padding: 5px 8px !default;

.main-cockpit-banner {
  min-width: $cockpit-banner-min-width;
  min-height: $cockpit-banner-min-height;
  background-color: mat-color($mcv-accent, 500);
  border-radius: $border-radius;
  margin: $cockpit-banner-margin;
  box-shadow: $box-shadow;
  color: $white;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  padding: 0.5rem;
}

.main-cockpit-banner-primary {
  background-color: mat-color($mcv-primary, 500);
  color: $white;
}

.main-cockpit-banner-secondary {
  background-color: mat-color($mcv-accent, 500);
  color: $white;
}

.main-cockpit-banner-red {
  background-color: $red;
  color: $white;
}

.main-cockpit-banner-green {
  background-color: $green;
  color: $white;
}

.main-cockpit-banner-blue {
  background-color: $blue;
  color: $white;
}

.main-cockpit-banner-purple {
  background-color: $purple;
  color: $white;
}

.main-cockpit-banner-dark {
  background-color: $gray-800;
  color: $white;
}

.main-cockpit-banner-yellow {
  background-color: $yellow;
  color: $black;
}

@media (max-width: 768px) {
  .main-cockpit-banner {
    min-width: 150px;
  }
}