<div class="contact-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Contact Details
                        </mat-panel-title>
                        <button mat-icon-button (click)="onEditContact($event)" *ngIf="isPermissionEdit">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-expansion-panel-header>

                    <div class="contact-properties-wrapper">


                        <div class="contact-property" *ngIf="!isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Prefix/Title</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.title}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property" *ngIf="!isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">First Name</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.firstName}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contact-properties-wrapper">


                        <div class="contact-property" *ngIf="!isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Middle Name</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.middleName}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property" *ngIf="!isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Last Name</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.lastName}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property" *ngIf="!isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Gender</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.gender}}</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="contact-properties-wrapper">

                        <ng-container *ngFor="let item of currentEntity.emails">
                            <div class="contact-property">
                                <div class="contact-property-details">
                                    <small class="contact-property-label">Email | {{item.title}}
                                        {{item.isPrimary?'(Primary)' : ''
                                        }}</small>
                                    <h6>
                                        {{item.email}}
                                    </h6>
                                </div>
                                <div class="contact-property-actions">
                                    <button mat-icon-button (click)="onCopyToClipboard(item.email)"
                                        matTooltip="Click to copy">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="mailTo(item.email)" matTooltip="Click to open">
                                        <mat-icon>mail</mat-icon>
                                    </button>

                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <div class="contact-properties-wrapper">

                        <ng-container *ngFor="let item of currentEntity.phones">
                            <div class="contact-property">
                                <div class="contact-property-details">
                                    <small class="contact-property-label">Phone | {{item.title}}
                                        {{item.isPrimary?'(Primary)' : ''
                                        }}</small>
                                    <h6>
                                        {{item.phone}}
                                    </h6>
                                </div>
                                <div class="contact-property-actions">
                                    <button mat-icon-button (click)="onCopyToClipboard(item.phone)"
                                        matTooltip="Click to copy">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="callTo(item.phone)" matTooltip="Click to open">
                                        <mat-icon>phone</mat-icon>
                                    </button>

                                </div>
                            </div>
                        </ng-container>
                    </div>


                    <div class="contact-properties-wrapper">
                        <ng-container *ngFor="let item of currentEntity.addresses">
                            <div class="contact-property">
                                <div class="contact-property-details">
                                    <small class="contact-property-label">Address | {{item.title}}
                                        {{item.isPrimary?'(Primary)' :
                                        ''
                                        }}</small>
                                    <div class="contact-properties-wrapper">
                                        <div class="contact-property">
                                            <div class="contact-property-details">
                                                <small class="contact-property-label">Street</small>
                                                <h6>
                                                    {{item.street}}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="contact-property">
                                            <div class="contact-property-details">
                                                <small class="contact-property-label">Area</small>
                                                <h6>
                                                    {{item.area}}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="contact-property">
                                            <div class="contact-property-details">
                                                <small class="contact-property-label">City</small>
                                                <h6>
                                                    {{item.city}}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="contact-property">
                                            <div class="contact-property-details">
                                                <small class="contact-property-label">State</small>
                                                <h6>
                                                    {{item.state}}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="contact-property">
                                            <div class="contact-property-details">
                                                <small class="contact-property-label">Country</small>
                                                <h6>
                                                    {{item.country}}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="contact-property">
                                            <div class="contact-property-details">
                                                <small class="contact-property-label">Pin Code</small>
                                                <h6>
                                                    {{item.pinCode}}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-property-actions">
                                    <button mat-icon-button (click)="onCopyToClipboard(getAddressString(item))"
                                        matTooltip="Click to copy">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="onAddressClick(getAddressString(item))"
                                        matTooltip="Click to open">
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-container>

                    </div>

                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="contact-properties-wrapper">
                        <div class="contact-property" *ngIf="!isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Birth Date</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.birth | date:'dd MMM y'}}</h6>

                                </div>

                            </div>
                        </div>

                        <div class="contact-property" *ngIf="!isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Anniversary Date</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.anniversary | date:'dd MMM y'}}</h6>
                                </div>

                            </div>
                        </div>

                        <div class="contact-property" *ngIf="!isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Marital Status</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.maritalStatus }}</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="contact-properties-wrapper">

                        <div class="contact-property">
                            <div class="contact-property-details">

                                <small class="contact-property-label">PAN</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.pan}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Aadhaar</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.aadhaar}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Bank Name & Branch</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.bankName}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Bank IFSC Code</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.ifscCode}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Bank A/c No</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.bankAccountNo}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property" *ngIf="isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">TAN</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.tan}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property" *ngIf="isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">GSTIN</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.gstin}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property" *ngIf="isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">HSN</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.hsn}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="contact-property" *ngIf="isCompany">
                            <div class="contact-property-details">

                                <small class="contact-property-label">ARN</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.arn}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Emergency Contact Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contact-properties-wrapper">

                        <div class="contact-property">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Family Contact</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.familyContactName}} ({{currentEntity.familyContactRelation}})
                                    </h6>
                                    <span>{{currentEntity.familyContactPhone}}</span>
                                </div>
                                <div class="contact-property-actions">
                                    <button mat-icon-button
                                        (click)="onCopyToClipboard(currentEntity.familyContactPhone)"
                                        matTooltip="Click to copy">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="callTo(currentEntity.familyContactPhone)"
                                        matTooltip="Click to open">
                                        <mat-icon>phone</mat-icon>
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="contact-property">
                            <div class="contact-property-details">

                                <small class="contact-property-label">Emergency Contact</small>
                                <div class="contact-property-value">
                                    <h6>{{currentEntity.emergencyContactName}}
                                        ({{currentEntity.emergencyContactRelation}})</h6>
                                    <span>{{currentEntity.emergencyContactPhone}}</span>
                                </div>
                                <div class="contact-property-actions">
                                    <button mat-icon-button
                                        (click)="onCopyToClipboard(currentEntity.emergencyContactPhone)"
                                        matTooltip="Click to copy">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="callTo(currentEntity.emergencyContactPhone)"
                                        matTooltip="Click to open">
                                        <mat-icon>phone</mat-icon>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>

            <div class="col-md-4">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Activity </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="mcv-activity-list-wrapper">
                        <mcv-activity-list #activity [entity]="nameOfEntity" [entityID]="currentEntity.id">
                        </mcv-activity-list>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Comments/Remarks
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{currentEntity.description}}</p>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>