@import 'variables';

mat-dialog-content {
    height: 64vh;
    width: 78vw;
}

.tab-header-scroll {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.tab-header-container {
    display: inline-flex;
    gap: 8px;
    width: 100%;
    padding: 8px 5px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    ::-webkit-scrollbar {
        display: none;
    }
}

.custom-tab-item {
    padding: 8px 18px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    background: #f5f5f5;
    font-size: 14px;
    color: #444;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

.custom-tab-item:hover {
    background: #ececec;
}

.custom-tab-item.active {
    border-bottom: 3px solid #28a745;
    color: #28a745;
    background: #ffffff;
    font-weight: 600;
}

.custom-tab-item.new-btn {
    margin-left: auto;
    border-color: #b6e2b6;
    color: #2ecc71;
    background: #f8fff8;
    font-weight: bold;
}

.custom-tab-content {
    padding: 12px 5px;
}