.contact-email-form-wrapper {
    form {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .contact-email-form-fields {
            flex-grow: 1;
            padding: 0 0.3rem;
        }

        .contact-email-form-actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 0.3rem;
            flex-grow: 1;
            padding: 0 0.3rem;
        }
    }
}