@import 'variables';
@import 'theme';

.contact-create-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: mat-color($mcv-primary, 500);
    color: $white;

    .contact-create-dialog-header-title {
        font-weight: 600;
        padding: 12px;
    }

    .contact-create-dialog-header-actions {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        gap: 0.3rem;
        align-items: center;
        justify-content: flex-end;
        padding: 0 15px;
    }
}

img.contact-icon {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: $border-radius;
}

.contact-create-dialog-mobile-actions {
    display: none;
}

.duplicate-contacts {
    min-height: 500px;
    min-width: 400px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 0.3rem;
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: $white;

    .duplicate-contact-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        &>li {
            border-bottom: 1px solid $gray-300;
            padding: 0.3rem 0;

            .contact-list-item {
                display: flex;
                // gap: 0.3rem;

                .list-item-details {
                    flex-grow: 1;
                    flex-shrink: 1;
                    display: flex;
                    gap: 0.3rem;
                    align-items: flex-start;

                    .category-list {
                        display: flex;
                        gap: 0.3rem;
                        flex-wrap: wrap;

                        .category-tag {
                            background-color: $gray-700;
                            color: $white;
                            font-size: 0.6rem;
                            padding: 2px 4px;
                            border-radius: $border-radius;
                        }
                    }

                    img.contact-icon {
                        width: 40px;
                        height: 40px;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: $border-radius;
                    }

                }

                .list-item-actions {
                    flex-grow: 0;
                    flex-shrink: 0;
                    display: flex;
                    align-items: flex-start;
                    gap: 0.3rem;

                }

            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact-create-dialog-mobile-actions {
        background-color: mat-color($mcv-primary, 500);
        display: flex;
        gap: 0.3rem;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
    }

    .contact-create-dialog-header {

        .contact-create-dialog-header-actions {
            display: none;
        }
    }
}