<app-header [title]="headerTitle" [titleCount]="headerTitleCount">
    <div class="search-filter" *ngIf="isMobileView">
        <mat-icon matPrefix>search</mat-icon>
        <input aria-label="search" [formControl]="searchFC" matInput />
    </div>
</app-header>

<div class="leave-page-wrapper no-overflow">
    <!-- List -->
    <div class="list-wrapper" *ngIf="isShowList" (scroll)="onContainerScroll($event)">
        <app-leave-paged-list [config]="pagedListConfig" (listLoad)="onListLoad($event)"></app-leave-paged-list>
    </div>

    <!-- Details -->
    <div class="leave-detail-wrapper" *ngIf="isShowDetail">
        <app-leave [config]="componentConfig" *ngIf="componentConfig && componentConfig.entityID"></app-leave>
    </div>

    <div class="leave-detail-wrapper no-overflow"
        *ngIf="isShowDetail && (!componentConfig || !componentConfig.entityID)">
        <div class="detail-wrapper-message">
            <mat-icon class="icon-xl light">vertical_split</mat-icon>
            <h3>Select an item from list to see details</h3>
            <!-- <h2 *ngIf="isPermissionEdit">OR</h2>
            <div class="d-flex align-items-end" *ngIf="isPermissionEdit">
                <h3>Click </h3>
                <button mat-raised-button color="primary" (click)="onShowNewDialog()" matTooltip="New"
                    aria-label="New">New</button>
                <h3> to create new item</h3>
            </div> -->
        </div>
    </div>
</div>

<app-footer>
    <div class="mcv-footer-actions">
        <div class="mv-list-search-filter" [ngStyle]="{'height':'2.1rem'}">
            <mat-icon matPrefix>search</mat-icon>
            <input aria-label="Type to Search" [formControl]="searchFC" matInput />
        </div>

        <button mat-icon-button (click)="refresh()" matTooltip="Refresh" aria-label="Refresh">
            <mat-icon>refresh</mat-icon>
        </button>

        <button mat-raised-button [color]="pagedListConfig.showAll ? 'primary' : null" (click)="onToggleShowAll()"
            *ngIf="isPermissionSpecialEdit" matTooltip="Show All" aria-label="Show All">
            Show All
        </button>

        <div *ngIf="isPermissionLeaveMaster">
            <button mat-icon-button (click)="onAddHolidays()">
                <mat-icon>settings</mat-icon>
            </button>
        </div>

        <div *ngIf="typeOptions && typeOptions.length > 0">
            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select [formControl]="typeFC" placeholder="Type">
                    <mat-option *ngFor="let item of typeOptions" [value]="item">{{
                        item.title
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="mcv-footer-mobile-actions" *ngIf="isShowList">
        <button mat-icon-button (click)="refresh()" matTooltip="Refresh" aria-label="Refresh">
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button appFilterToggle matTooltip="Filters" aria-label="Filters">
            <mat-icon>filter_list</mat-icon>
        </button>
        <button mat-raised-button [color]="pagedListConfig.showAll ? 'primary' : null" (click)="onToggleShowAll()"
            *ngIf="isPermissionSpecialEdit" matTooltip="Show All" aria-label="Show All">
            Show All
        </button>
        <div *ngIf="isPermissionLeaveMaster">
            <button mat-icon-button (click)="onAddHolidays()">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </div>

    <div class="mcv-footer-mobile-actions" *ngIf="!isShowList">
        <button mat-icon-button (click)="back()" matTooltip="Back" aria-label="Back">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <div class="mcv-footer-filters">
    <div class="inline-list">
      <div *ngIf="typeOptions && typeOptions.length > 0">
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select [formControl]="typeFC" placeholder="Type">
            <mat-option *ngFor="let item of typeOptions" [value]="item">{{
              item.title
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    </div>
</app-footer>

<app-mcv-filter-sidenav #sidenav (refreshFiltersEvent)="refreshFilters()">
</app-mcv-filter-sidenav>