@import 'variables';
@import 'theme';

.project-create-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: mat-color($mcv-primary, 500);
    color: $white;

    .project-create-dialog-header-title {
        font-weight: 600;
        padding: 12px;
    }

    .project-create-dialog-header-actions {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        gap: 0.3rem;
        align-items: center;
        justify-content: flex-end;
        padding: 0 15px;
    }
}

.project-create-dialog-mobile-actions {
    display: none;
}

img.project-icon {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: $border-radius;
}



.project-create-form {
    .project-alert-bar {
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: $border-radius;
        background-color: $red;
        color: $white;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    .form-collection {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding: 0.3rem;
        margin: 0.3rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        background-color: $white;

        .form-collection-title {
            font-weight: 600;
            padding: 0.3rem;
            color: $gray-600;
        }

        .form-collection-actions {
            display: flex;
            gap: 0.3rem;
            align-items: center;
            justify-content: flex-end;
            padding: 0.2rem;
        }

        .form-collection-item {
            border: 1px solid $gray-300;
            border-radius: $border-radius;
            padding: 0.3rem 0;
        }
    }

    .duplicate-projects {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding: 0.3rem;
        margin: 0.3rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        background-color: $white;

        .duplicate-project-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;

            &>li {
                border-bottom: 1px solid $gray-300;
                padding: 0.3rem 0;

                .project-list-item {
                    display: flex;
                    // gap: 0.3rem;

                    .list-item-details {
                        flex-grow: 1;
                        flex-shrink: 1;
                        display: flex;
                        gap: 0.3rem;
                        align-items: flex-start;

                        .category-list {
                            display: flex;
                            gap: 0.3rem;
                            flex-wrap: wrap;

                            .category-tag {
                                background-color: $gray-700;
                                color: $white;
                                font-size: 0.6rem;
                                padding: 2px 4px;
                                border-radius: $border-radius;
                            }
                        }

                        img.project-icon {
                            width: 40px;
                            height: 40px;
                            -o-object-fit: cover;
                            object-fit: cover;
                            border-radius: $border-radius;
                        }

                    }

                    .list-item-actions {
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: flex;
                        align-items: flex-start;
                        gap: 0.3rem;

                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .project-create-form{
        padding-bottom: 60px ;
    }
    .project-create-dialog-mobile-actions {
        background-color: mat-color($mcv-primary, 500);
        display: flex;
        gap: 0.3rem;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
    }

    .project-create-dialog-header {

        .project-create-dialog-header-actions {
            display: none;
        }
    }
}